# {{ ansible_managed }}

www-client/chromium {{chrome_use_flags|join(' ')}}
www-plugins/chrome-binary-plugins flash pdf
media-libs/harfbuzz icu
{# As of Chrome 39 #}
sys-apps/hwids usb
{# As of Chrome 42 #}
app-crypt/gcr gtk
{# As of Chrome 44 #}
media-libs/libvpx postproc
